@charset "UTF-8";

.header{
    background-image: url(다운로드.jpg);
    min-width: 1560px;
    height: 150px;
    background-repeat: no-repeat;
    justify-content: center;
}
/* 전체 페이지에 적용할 스타일 - 여백 제거 */
*{
    margin:0;
    padding:0;
}
/* 리스트 항목의 스타일 변경 */
.image_slider>ul {
    list-style: none;
}

/* 슬라이더가 들어갈 공간(div)에 대한 설정 */
.image_slider {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
    border: 1px solid;
    text-align: center;
    
}

/* 슬라이더 화면의 너비와 높이 설정
    슬라이더 화면의 개수 * 100%로 계산하여 너비를 설정 
    4장 --> 500%, 5장 --> 500%
    */
.image_slider>ul{
    width: 500%;
    height: 100%;
    transition: margin-left 1s;

    }

/* 각 항목(li)을 세로에서 가로로 변경
한 화면만 보이도록 너비 설정 
화면 4개 --> 화면당 25%로 설정
화면 5개 --> 화면당 20%로 설정*/
.image_slider>ul>li{
    float: left;
    width: 20%;
    height: 100%;
}

/* 라디오 버튼 숨기기
라디오버튼은 모양을 바꿀 수 없기 때문에
label로 모양을 처리하기 위해 숨김. */
.image_slider input {
    display: none;
}

/* label의 위치 조정.
영역의 중앙에 위치하도록 조정 */
.image_slider p{
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}

/* 각 슬라이더 화면 설정(컬러) */
.image_slider li:nth-child(1){
    /* background-color: red; */
    background-image: url(2068532_1_125.jpg);
    background-repeat: no-repeat;
}
.image_slider li:nth-child(2){
    /* background-color: orange; */
    background-image: url(3044422_16764300392301_125.jpg);
    background-repeat: no-repeat;
}
.image_slider li:nth-child(3){
    /* background-color: green; */
    background-image: url(3097461_16769617084001_125.jpg);
    background-repeat: no-repeat;
}
.image_slider li:nth-child(4){
    /* background-color: blue; */
    background-image: url(3109580_16774745973960_125.jpg);
    background-repeat: no-repeat;
}
.image_slider li:nth-child(5){
    /* background-color: purple; */
    background-image: url(3109669_16774753324631_125.jpg);
    background-repeat: no-repeat;
}

/* lable의 모양 설정 */
.image_slider label {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid darkgray;
    background-color: white;
    cursor: pointer; /*커서 모양 변경*/
    transition: 0.3s
}

/* lable 선택(클릭) 시 화면 이동처리
lable 클릭 --> radio checked */
#pos1:checked~ul {
    margin-left: 0%;
}
#pos2:checked~ul {
    margin-left: -100%;
}
#pos3:checked~ul {
    margin-left: -200%;
}
#pos4:checked~ul {
    margin-left: -300%;
}
#pos5:checked~ul {
    margin-left: -400%;
}

/* 화면에 따른 label의 모양 변화 */
#pos1:checked~.pos>label:nth-child(1){
    background-color: black;
}
#pos1:checked~.pos>label:nth-child(2){
    background-color: black;
}
#pos1:checked~.pos>label:nth-child(3){
    background-color: black;
}
#pos1:checked~.pos>label:nth-child(4){
    background-color: black;
}
#pos1:checked~.pos>label:nth-child(5){
    background-color: black;
}
